-r requirements.txt
awsebcli==3.20.10
eb==0.1.5
h2==4.1.0
importlib-resources==6.4.0
jaraco.text==3.12.1
keyring==24.3.1
ordered-set==4.1.0
pip-chill==1.0.3
pipreqs==0.5.0
rapidfuzz==3.9.4
tomli==2.0.1