packages:
  yum:
    python3-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_create_venv:
    command: "python3 -m venv /var/app/venv"
  02_activate_venv:
    command: ". /var/app/venv/bin/activate"
  03_upgrade_pip:
    command: "/var/app/venv/bin/pip install --upgrade pip"
  04_install_requirements:
    command: "/var/app/venv/bin/pip install -r requirements.txt"
  05_install_gunicorn:
    command: "/var/app/venv/bin/pip install gunicorn"