option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

packages:
  yum:
    python3-devel: []
    gcc: []

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_create_venv:
    command: "python3 -m venv /var/app/venv"
  03_activate_venv:
    command: ". /var/app/venv/bin/activate"
  04_upgrade_pip:
    command: "/var/app/venv/bin/pip install --upgrade pip"
  05_install_requirements:
    command: "/var/app/venv/bin/pip install -r requirements.txt"
  06_install_gunicorn:
    command: "/var/app/venv/bin/pip install gunicorn"